<% provide(:title, '一覧') %>

<h1>ユーザー覧</h1>
<div class="csv-import">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <% @users.each do |user| %>
    <div class="form-gruop">
      <p><%= user.name %></p>
        |&nbsp;<%= link_to "削除", user, method: :delete, class: "btn btn-primary",
                                    data: { confirm: "削除しますか？" } %>
        <div class="panel-gruop" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse<%= user.id %>"><button type="submit" class="btn btn-lg btn-primary">編集</button></a>
              </h4>
            </div>
            <div id="collapse<%= user.id %>" class="collapse">
              <div class="panel-body">
                <%= render "user", {user: user} %>
              </div>
            </div>
          </div>
        </div>
    </div>  
  <% end %>
  </div>
</div>

